{% extends 'core/home.html' %}
{% block class %}
style="background-color: black;"
{% endblock %}
{% block link5 %}active{% endblock %}
{% block content %}
{% load static %}
<div id="hero" class="route " style="background-color: black; height: 90px;"></div>
<section id="contact" class="paralax-mf footer-paralax bg-image_ route" style="background-color: rgb(137, 173, 238);">
  <h1 class="title-a text-center">Contacto</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 offset-md-2">
        <div class="contact-mf">
          <div id="contact" class="box-shadow-full_">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <div class="title-box-2 pt-4 pt-md-0">
                  <h5 class="title-left">
                    Contáctanos
                  </h5>
                </div>
                <div class="more-info">
                  <p class="lead">
                    ¡¡Gracias por visitarnos! Si tiene alguna pregunta o necesita ponerse en contacto con nosotros,
                    no dudes en hacerlo. Estamos aquí para ayudarte. Puedes encontrarnos en la siguiente dirección:
                  </p>
                  <ul class="list-ico">
                    <li><span class="bi bi-geo-alt"></span>QUITO: AV.MARIANA DE JESÚS Y JORGE JUAN</li>
                    <li><span class="bi bi-phone"></span>02 3210 387 / 098 610 9849 </li>
                    <li><span class="bi bi-envelope"></span>trackingauto@gmail.com</li>
                  </ul>
                </div>
                <div class="socials">
                  <ul>
                    <li><a href="https://www.facebook.com/profile.php?id=61556608329461"><span class="ico-circle"><i
                            class="bi bi-facebook"></i></span></a></li>
                    <li><a href="https://www.instagram.com/trackingautoseguro?igsh=MTQxYjhuMzFoY3U3Yg=="><span
                          class="ico-circle"><i class="bi bi-instagram"></i></span></a></li>
                    <li><a href="https://wa.me/message/UM4A6DI3MOAKD1"><span class="ico-circle"><i
                            class="bi bi-whatsapp"></i></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock%}