{% extends 'core/home.html' %}
{% block class %}
class="fixed-top" style="background-color: black;"
{% endblock %}
{% block link2 %}active{% endblock link2 %}
{% block fond %}
<div id="hero" class="route " style="background-color: black; height: 90px;">
</div>
{% endblock fond %}
{% block content %}
{% load static %}
<section id="services" class="services-mf pt-5 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Conoce Más Sobre Nosotros
          </h3>
          <p class="subtitle-a">
            Estamos a su disposición 
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      {% for svc in svc %}
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="bi bi-{{svc.icon}}"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">{{svc.svc}}</h2>
            <p class="s-description text-center">
              {{svc.dcpc}}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock%}